@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap);
@import url(https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap);

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	color:#6c6c6f;
	background-color:#fff;
	font-family:Roboto,sans-serif;
	font-weight:300;
	font-size:15px;
	line-height:27px;
}
a{
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
h1,h2,h3,h4,h5,h6{
	font-family:Rufina,serif;
	font-weight:700;
}
img{
	display:block;
	width:100%;
	height:auto;
}
ul{
	padding:0;
	list-style:none;
}
figure,ul{
	margin:0;
}
section{
	display:block;
	padding:50px 0;
	width:100%;
}
@media screen and (min-width:768px){
	.nopadd-ltf{
		padding-left:0;
	}
	.nopadd,.nopadd-rth{
		padding-right:0;
	}
	.nopadd{
		padding-left:0;
	}
}
.bg-lightred{
	background-color:#fff9f8;
}
.banner .btn{
	background-color:#ff817e;
	border-radius:0;
	color:#fff;
	display:inline-block;
	font-size:16px;
	font-weight:500;
	line-height:.8;
	text-transform:uppercase;
	min-width:170px;
	padding:20px 15px;
}
.banner .btn:hover{
	color: #000;
}
.btn-round{
	border-radius:50px;
}
.btn-outline{
	background-color:transparent;
	border:1px solid #fff;
}
.btn:focus{
	box-shadow:none;
}
.btn.icon-left i{
	font-size:20px;
	line-height:.8;
	margin-right:10px;
}
.video-btn{
	color:#555;
	font-size:15px;
	font-weight:400;
}
.video-btn:hover,.video-btn i{
	color:#ff817e;
}
.video-btn i{
	border-radius:50%;
	background-color:#fcf5ee;
	display:inline-block;
	line-height:44px;
	text-align:center;
	margin-right:10px;
	height:44px;
	width:44px;
}
.sec-heading{
	margin-bottom:70px;
	position:relative;
	text-align:center;
}
.sec-heading img{
	max-width:84px;
	margin:0 auto 40px;
}
.sec-heading .tagline{
	color:#888;
	display:block;
	font-size:20px;
	font-weight:400;
	line-height:.8;
	text-transform:uppercase;
	margin-bottom:27px;
}
.sec-heading .sec-title{
	color:#1e2528;
	font-size:42px;
	margin-bottom:32px;
}
@media screen and (max-width:767px){
	.sec-heading .sec-title{
		font-size:33px;
	}
}
.sec-heading p{
	color:#888;
	margin-bottom:0;
}
.header{
	position:relative;
	padding:15px 0;
}
.header ul{
	margin-bottom: 0;
}
.header.abs-header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1;
}
.banner h2{
	font-weight: 500;
}
.logo{
	display:block;
	max-width:109px;
}
.footer .foo-nav,.primary-menu{
	position:relative;

}
.footer .foo-nav .mobile-menu,.primary-menu .mobile-menu{
	display:none;
}
.primary-menu .active{
	color: #ff817e;
}
@media screen and (max-width:767px){
	.footer .foo-nav .mobile-menu,.primary-menu .mobile-menu{
		background:transparent;
		border:none;
		color:#ff817e;
		display:block;
		font-size:18px;
		position:absolute;
		right:0;
		top:-30px;
		outline:0;
	}
}
@media screen and (min-width:768px){
	.footer .foo-nav li,.primary-menu li{
		display:inline-block;
	}
}
.footer .foo-nav li a,.primary-menu li a{
	color:#263a41;
	display:block;
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	padding:0 20px;
}
@media screen and (max-width:991px){
	.primary-menu li a{
		font-size:13px;
		padding:0 18px;
	}
}
.footer .foo-nav li a:hover,.primary-menu li a:hover{
	color:#ff817e;
}
@media screen and (max-width:767px){
	.primary-menu ul{
		display: none;
		background-color:#fcf5ee;
		text-align:center;
		padding:10px 0;
		visibility: visible;
		-webkit-transition:.3s;
		transition:.3s ease;
		width:100%;
	}
	.primary-menu ul.active{
		opacity:1;
		visibility:visible;
	}
	.primary-menu li a{
		padding:10px 15px;
	}
}
.banner{
	background: url(../images/leaf.png) no-repeat 0/12.5%;
	padding:12% 0;
	z-index: -1;
}
@media screen and (max-width:1199px){
	.banner{
		padding-top:15%;
	}
}
@media screen and (max-width:767px){
	.banner{
		padding-top:130px;
	}
}
.banner span{
	color:#ff817e;
	display:block;
	font-family:Rufina,serif;
	letter-spacing:1.5px;
	text-transform:uppercase;
	margin-bottom:20px;
}
.banner h2{
	color:#1e2528;
	font-size:60px;
	line-height:75px;
	margin-bottom:25px;
}
@media screen and (max-width:1199px){
	.banner h2{
		font-size:49px;
		line-height:60px;
	}
}
@media screen and (max-width:479px){
	.banner h2{
		font-size:44px;
		line-height:54px;
	}
}
.banner p{
	color:#555;
	margin-bottom:50px;
}
@media screen and (min-width:480px){
	.banner .video-btn{
		margin-left:15px;
	}
}
@media screen and (max-width:479px){
	.banner .video-btn{
		display:block;
		margin-top:30px;
	}
}
.banner .spa-img{
	width:43.4%;
	position:absolute;
	right:0;
	top:0;
}
@media screen and (max-width:991px){
	.banner{
		text-align:center;
		}
		.banner .spa-img{
			display:none;
		}
}
.about{
	text-align:center;
	position: relative;
}
.about [class|=flower]{
	position:absolute;
}
.about .flower-1{
	left:16%;
	top:0;
	max-width:160px;
}
.about .flower-2{
	right:135px;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	max-width:88px;
}
@media screen and (max-width:991px){
	.about .flower-2{
		display:none;
	}
}
@media screen and (max-width:545px){
	.about .flower-1{
		display:none;
	}
}
.service .service-caro{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.service .single-service{
	flex-basis:25%;
	position:relative;
}
.service .single-service .service-hover{
	background-color:rgba(255,129,126,.9);
	display:flex;
	flex-direction:column;
	justify-content:center;
	position:absolute;
	top:0;
	left:0;
	right:0;
	text-align:center;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	opacity:0;
	visibility:hidden;
	height:100%;
	width:100%;
}
.service .single-service .service-hover img{
	margin:0 auto 20px;
	width:47px;
}
.service .single-service .service-hover span{
	color:#fff;
	display:block;
	font-family:Rufina,serif;
	font-weight:700;
}
.service .single-service:hover .service-hover{
	opacity:1;
	visibility:visible;
}
.procedures{
	position:relative;
}
.blog{
	padding-bottom:20px;
}
.post{
	border:1px solid #e3e6ea;
	text-align:center;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	padding:20px;
	margin-bottom:30px;
}
.post img{
	margin-bottom:35px;
}
.post h4{
	margin-bottom:22px;
}
.post h4,.post h4 a{
	color:#263a41;
	font-size:22px;
}
.post p{
	margin-bottom:39px;
}
.post .btn{
	background-color:#30383b;
	margin-bottom:30px;
	padding:15px;
}
.post:hover{
	box-shadow:5px 5px 10px grey;
	transform: translateY(-10px);
}
.post:hover .btn{
	background-color:#ff817e;
	color:#fff;
}
.appointment .v2{
	padding-bottom:0;
	border-bottom:1px solid #fdd5d5;
}
.appointment .appointment-wrap{
	display:flex;
	flex-wrap:wrap;
}
.appointment .appointment-wrap figure{
	flex-basis:40%;
}
@media screen and (max-width:1300px){
	.appointment .appointment-wrap figure{
		display:none;
	}
}
.appointment .appointment-wrap .appointment-form{
	flex-basis:60%;
	padding-left:100px;
}
@media screen and (max-width:1300px){
	.appointment .appointment-wrap .appointment-form{
		flex-basis:100%;
		padding:30px 15px;
	}
}
.appointment .appointment-wrap .appointment-form form{
	max-width:650px;
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
@media screen and (max-width:1300px){
	.appointment .appointment-wrap .appointment-form form{
		margin:0 auto;
	}
}
.appointment-form{
	background-color:#fff9f8;
}
.appointment-form .form-field{
	position:relative;
	width:100%;
}
.appointment-form .form-field input,.appointment-form .form-field select,.appointment-form .form-field textarea{background-color:transparent;
	border:none;
	border-bottom:1px solid #d4d3d3;
	color:#999;
	display:block;
	font-size:12px;
	font-weight:400;
	padding:10px 0;
	margin-bottom:30px;
	width:100%;
}
.appointment-form .form-field input::-webkit-input-placeholder,
.appointment-form .form-field select::-webkit-input-placeholder,
.appointment-form .form-field textarea::-webkit-input-placeholder{
	opacity:1;
	text-transform:uppercase;
}
.appointment-form .form-field input:-ms-input-placeholder,
.appointment-form .form-field select:-ms-input-placeholder,
.appointment-form .form-field textarea:-ms-input-placeholder{
	opacity:1;
	text-transform:uppercase;
}
.appointment-form .form-field input::-ms-input-placeholder,
.appointment-form .form-field select::-ms-input-placeholder,
.appointment-form .form-field textarea::-ms-input-placeholder{
	opacity:1;
	text-transform:uppercase;
}
.appointment-form .form-field input::-moz-placeholder,
.appointment-form .form-field select::-moz-placeholder,
.appointment-form .form-field textarea::-moz-placeholder{
	opacity:1;
	text-transform:uppercase;
}
.appointment-form .form-field input::placeholder,
.appointment-form .form-field select::placeholder,
.appointment-form .form-field textarea::placeholder{
	opacity:1;
	text-transform:uppercase;
}
.appointment-form .form-field select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-transform:uppercase;
}
.appointment-form .form-field .select-field{
	width:100%;
}
@media screen and (min-width:480px){
	.appointment-form .form-field.half-width{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	.appointment-form .form-field.half-width .select-field,
	.appointment-form .form-field.half-width input{
		width:49%;
	}
}
.team .single-memb{
	position:relative;
	width:100%;
}
@media screen and (max-width:767px){
	.team .single-memb{
		margin-bottom:30px;
	}
}
.team .single-memb .memb-details{
	background-color:#fff;
	box-shadow:0 5px 20px #f0f0f0;
	max-width:calc(100% - 60px);
	margin:-50px auto 0;
	padding:30px;
	position:relative;
	text-align:center;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	z-index:1
}
@media screen and (max-width:1199px){
	.team .single-memb .memb-details{
		padding:30px 20px'
    }
}
@media screen and (max-width:991px){
	.team .single-memb .memb-details{
		max-width:100%;
		padding:20px 15px;
	}
}
.team .single-memb .memb-details h6{
	color:#263a41;
	font-size:22px;
	margin-bottom:0;
}
.team .single-memb .memb-details span{
	display:block;
	margin-bottom:15px;
}
.team .single-memb .memb-social{
	margin-top:-30px;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	opacity:0;
	visibility:hidden;
}
.team .single-memb .memb-social a{
	border:1px solid #30383b;
	border-radius:50%;
	color:#30383b;
	display:inline-block;
	font-size:13px;
	text-align:center;
	line-height:30px;
	margin:0 5px;
	height:30px;
	width:30px;
}
.team .single-memb .memb-social a:hover{
	background-color:#ff817e;
	border-color:#ff817e;
	color:#fff;
}.team .single-memb:hover .memb-details{
	margin-top:-84px;
}
.team .single-memb:hover .memb-social{
	margin-top:0;
	opacity:1;
	visibility:visible;
}
.footer{
	background-color:#fff9f8;
	padding:80px 0 60px;
}
.footer .foo-logo{
	margin:0 auto;
}
.footer .foo-nav{
	margin:30px 0;
}
.footer .foo-social{
	margin-bottom:30px;
}
.footer .foo-social a{
	border-right:1px solid #b1b4bb;
	color:#3a414e;
	display:inline-block;
	font-size:14px;
	line-height:.8;
	padding:0 10px;
}
.footer .foo-social a:hover{
	color:#ff817e;
}
.footer .copyright{
	color:#888;
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:0;
}
.footer .copyright a{
	color:#ff817e;
}
